/* =====================
   APP整体布局
===================== */


body{

font-size:15px;

}




.app{

display:flex;

min-height:100vh;

}



/* 左侧导航 */

.sidebar{


width:230px;

background:white;

padding:25px;

border-right:1px solid #eee;


position:fixed;

height:100vh;


}



.logo{

font-size:22px;

font-weight:700;

margin-bottom:35px;

}



.menu{


display:flex;

flex-direction:column;

gap:8px;


}



.menu a{


padding:12px 15px;

border-radius:12px;

text-decoration:none;

color:#333;


}



.menu a:hover{


background:#f2f2f2;


}





/* 右侧内容 */


.main{


margin-left:230px;

padding:35px;

width:100%;


}




.page-title{


font-size:26px;

font-weight:700;


}




.subtitle{


font-size:14px;

color:#888;


}





/* 卡片缩小 */

.notion-box,
.card{


border-radius:18px;

padding:22px;


}




/* 手机 */

@media(max-width:700px){


.sidebar{

position:relative;

width:100%;

height:auto;


}



.app{

display:block;

}


.main{

margin-left:0;

padding:20px;

}


}
