*{
box-sizing:border-box;
}


body{

margin:0;

background:#f5f5f7;

font-family:
-apple-system,
BlinkMacSystemFont,
"Microsoft YaHei",
sans-serif;

color:#1d1d1f;

}



header{

text-align:center;

padding:50px 20px;

}



header h1{

font-size:42px;

margin:0;

}



header p{

color:#777;

}



.container{

width:92%;

max-width:700px;

margin:auto;

}



.card{

background:white;

border-radius:25px;

padding:25px;

margin-bottom:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}



input{

width:100%;

padding:15px;

margin:8px 0;

border-radius:15px;

border:1px solid #ddd;

font-size:16px;

}



button{

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#0071e3;

color:white;

font-size:18px;

}



.dashboard{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}



.stat{

background:white;

padding:20px;

border-radius:20px;

text-align:center;

}



.stat h3{

font-size:15px;

color:#777;

}



.stat p{

font-size:25px;

font-weight:bold;

}



.nav{

display:flex;

gap:15px;

margin-bottom:50px;

}



.nav a{

flex:1;

text-align:center;

padding:15px;

background:white;

border-radius:18px;

text-decoration:none;

color:#0071e3;

}



@media(max-width:600px){

header h1{

font-size:32px;

}


.dashboard{

grid-template-columns:1fr;

}


}
